# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/dkjson/example/jsontest.lua
/dkjson/example/speedtest.lua
/dkjson/versions.txt
/lua/README.md
/lua/doc/contents.html
/lua/doc/logo.gif
/lua/doc/lua.1
/lua/doc/lua.css
/lua/doc/luac.1
/lua/doc/manual.css
/lua/doc/manual.html
/lua/doc/osi-certified-72x60.png
/lua/doc/readme.html
/lua/etc/lua.ico
/lua/etc/lua_lang.ico
/luadist-git/COPYRIGHT.TXT
/luadist-git/README.md
/luadist-git/dists/dkjson-2.5/dist.info
/luadist-git/dists/lua-5.2.4/dist.info
/luadist-git/dists/lua-git-0.5/dist.info
/luadist-git/dists/luadist-git-0.2.7/dist.info
/luadist-git/dists/luafilesystem-1.6.2/dist.info
/luadist-git/dists/luasocket-3.0-rc1/dist.info
/luadist-git/dists/md5-1.2/dist.info
/luadist-git/dists/srlua-5.2/dist.info
/luadist-git/dists/zlib-1.2.6/dist.info
/luadist-git/etc/luadist.lua
/luadist-git/test/test_depends.lua
/luadist-git/test/test_sys.lua
/luafilesystem/README
/luafilesystem/doc/us/examples.html
/luafilesystem/doc/us/index.html
/luafilesystem/doc/us/license.html
/luafilesystem/doc/us/luafilesystem.png
/luafilesystem/doc/us/manual.html
/luafilesystem/test/test.lua
/luasocket/LICENSE
/luasocket/NEW
/luasocket/README
/luasocket/doc/dns.html
/luasocket/doc/ftp.html
/luasocket/doc/http.html
/luasocket/doc/index.html
/luasocket/doc/installation.html
/luasocket/doc/introduction.html
/luasocket/doc/ltn12.html
/luasocket/doc/lua05.ppt
/luasocket/doc/luasocket.png
/luasocket/doc/mime.html
/luasocket/doc/reference.css
/luasocket/doc/reference.html
/luasocket/doc/smtp.html
/luasocket/doc/socket.html
/luasocket/doc/tcp.html
/luasocket/doc/udp.html
/luasocket/doc/url.html
/luasocket/etc/README
/luasocket/etc/b64.lua
/luasocket/etc/check-links.lua
/luasocket/etc/check-memory.lua
/luasocket/etc/cookie.lua
/luasocket/etc/dict.lua
/luasocket/etc/dispatch.lua
/luasocket/etc/eol.lua
/luasocket/etc/forward.lua
/luasocket/etc/get.lua
/luasocket/etc/links
/luasocket/etc/lp.lua
/luasocket/etc/qp.lua
/luasocket/etc/tftp.lua
/luasocket/example/README
/luasocket/example/cddb.lua
/luasocket/example/daytimeclnt.lua
/luasocket/example/echoclnt.lua
/luasocket/example/echosrvr.lua
/luasocket/example/listener.lua
/luasocket/example/lpr.lua
/luasocket/example/mclisten.lua
/luasocket/example/mcsend.lua
/luasocket/example/talker.lua
/luasocket/example/tinyirc.lua
/luasocket/test/README
/luasocket/test/auth/.htpasswd
/luasocket/test/auth/index.html
/luasocket/test/cgi/cat
/luasocket/test/cgi/cat-index-html
/luasocket/test/cgi/env
/luasocket/test/cgi/query-string
/luasocket/test/cgi/redirect-loop
/luasocket/test/cgi/request-uri
/luasocket/test/dicttest.lua
/luasocket/test/excepttest.lua
/luasocket/test/find-connect-limit
/luasocket/test/ftptest.lua
/luasocket/test/hello.lua
/luasocket/test/httptest.lua
/luasocket/test/index.html
/luasocket/test/ltn12test.lua
/luasocket/test/luasocket.png
/luasocket/test/mimetest.lua
/luasocket/test/smtptest.lua
/luasocket/test/stufftest.lua
/luasocket/test/tcp-getoptions
/luasocket/test/test_bind.lua
/luasocket/test/test_getaddrinfo.lua
/luasocket/test/test_socket_error.lua
/luasocket/test/testclnt.lua
/luasocket/test/testmesg.lua
/luasocket/test/testsrvr.lua
/luasocket/test/testsupport.lua
/luasocket/test/tftptest.lua
/luasocket/test/udp-zero-length-send
/luasocket/test/udp-zero-length-send-recv
/luasocket/test/udpconnectclnt.lua
/luasocket/test/udpconnectsrvr.lua
/luasocket/test/unixclnt.lua
/luasocket/test/unixsrvr.lua
/luasocket/test/upload.html
/luasocket/test/urltest.lua
/luasocket/test/utestclnt.lua
/luasocket/test/utestsrvr.lua
/md5/README
/md5/doc/us/index.html
/md5/doc/us/license.html
/md5/doc/us/manual.html
/md5/doc/us/md5.png
/md5/test/DES56/Makefile
/md5/test/DES56/fdemo.c
/md5/test/DES56/ftest.c
/md5/test/test.lua
/srlua/README.md
/srlua/test/test.lua
/weed/arduino/canary/canary.ino
/weed/arduino/co2/Senseair-Arduino.pdf
/weed/arduino/listen/listen.ino
/weed/arduino/url.cpp
/weed/config/config.json
/zlib/doc/man/man3/zlib.3
/weed/config/config.json~
/README.md~
